.menu-container {
  >button {
    margin-left: 20px;
    background-color: white;
    border: none;
  }
  >ul {
    display: none;
    margin-top: 8px;
    padding: 10px;
    font-size: 14px;
    width: 100%;
    left:-20px;
    background-color: #000000;
    z-index: 10;

    &.menu-open {
      display: block;
      position: absolute;
    }
    li {
      text-align: center;
      padding: 5px;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
}

@media (min-width: 710px) {
  .menu-container {
    >button {
      display: none;
    }
    >ul {
      display: flex;
      align-items: center;
      >li {
        padding: 0px 5px;
        &:first-child {
          border-right: white solid 1px;
        }
      }
    }
  }
}