.footer-content {
  background: linear-gradient(#343338, #4b4651);
  padding: 10px;
  color: white;
  >ul {
    padding: 10px;
    margin: 0px;
    >li{
      >hr{
        margin: 10px 35px;
      }
    }
  }

  p {
    margin: 5px 0px;
    padding: 5px;
    text-align: center;
  }
}

@media (min-width: 710px){
  .footer-content {
    >ul{
      display: flex;
      >li{
        flex: 1;
        border-right: white solid 1px;
        padding: 0px 6%;
        &:last-child {
          border-right: none;
        }
        p{
          text-align: left;
        }
      }
    }
    hr{
      display: none;
    }
  }
}