.main-card-content {
  padding: 5px;
  color: white;
  text-align: center;
  position: relative;
  >hr{
    border-color:#ec1828;
    margin: 15px;
  }
  >.overlay{
    &:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top:0; 
      left:0;
      background:rgba(0,0,0,0.6);
      opacity: 1;
      z-index: -1;
    }

    >.background-image {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  >.main-card-footer {
    >ul {
      padding: 10px;
      li {
        text-align: center;
        padding: 5px;
        >small {
          font-size: 11px;
          font-style: italic;
          margin-top: 5px;
          display: block;
        }
        >img {
          width: 100px;
        }
        >h6 {
          margin:0px;
          color: #ec1828;
          font-size: 14px;
          text-transform: uppercase;
        }
        >span {
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}
@media (min-width: 710px){
  .main-card-content {
    padding: 1.3% 10%;
    >hr {
      margin: 15px 10%;
    }
    >p {
      font-weight: bold;
      font-size: 48px;
      padding: 0px 15px;
    }
    >.main-card-footer {
      padding: 0px 15px;
      >ul {
        display: flex;
        align-items: center;
        justify-content: center;
        >li {
          flex: none;
          &:first-child{
            border-right: white solid 1px;
            padding-right: 20px;
          }
          &:last-child {
            text-align: left;
          }
          >small {
            font-size: 20px;
          }
          >img{
            padding: 0px 20px;
            width: 130px;
          }
          >h6 {
            font-size: 28px;
          }
          >span {
            font-size: 23px;
          }
        }
      }
    }
  }
}